# =========================
# Global ignores
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
.pnpm-debug.log
*.log
.DS_Store
Thumbs.db

# Environment files
.env
.env.*.local
.env.*.production


# Dist / build outputs
dist/
build/
.cache/
.next/
out/
.vercel/

# Coverage & testing
coverage/
.nyc_output/
jest-cache/
jest-output/

# IDE / editor files
.idea/
.vscode/
*.swp
*.swo

# =========================
# Client (Next.js)
# =========================
client/.next/
client/out/
client/node_modules/
client/.env
client/.env.*.local

# Next.js export cache
client/.vercel/


landing-page/.next/
landing-page/out/
landing-page/node_modules/
landing-page.env
landing-page/.env.*.local
landing-page/package-lock.json

# Next.js export cache
landing-page/.vercel/

# =========================
# Server (NestJS)
# =========================
server/dist/
server/node_modules/
server/.env
server/.env.*.local
server/.env.*.production
server/src/uploads
server/uploads


# Optional NestJS specific
server/.nestjs-loader.js

# =========================
# OS files
# =========================
*.tmp
*.pid
*.seed
*.pid.lock

# Mac & Linux
**/.DS_Store
**/._*
**/.Trash-*
**/.fseventsd

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini